<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">View Meeting Details</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-2 offset-4">
                        <img src="../../../assets/img/loading.gif" *ngIf="loadingImg">
                    </div>

                    <div class="col-sm-12">
                        <table class="table table-striped table-hover">
                            <tbody>
                                 <tr>
                                      <th>Topic</th>
                                      <td>{{meeting.topic}}</td>
                                 </tr>
                                 <tr>
                                     <th>Type</th>
                                     <td>{{meeting.status}}</td>
                                 </tr>
                                 <tr>
                                     <th>Start Time</th>
                                     <td>{{meeting.start_time |date:'short'}}</td>
                                 </tr>
                                 <tr>
                                     <th>Duration</th>
                                     <td>{{meeting.duration?meeting.duration:0}} min.</td>
                                 </tr>
                                 <tr>
                                     <th>Joining Link</th>
                                     <td>
                                         <a href="{{meeting.start_url}}" target="_blank"
                                            class="btn btn-info m-1"> Join Meeting</a>
                                     </td>
                                 </tr>
                            </tbody>
                        </table>

                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

